// ------------------------------------------------------------------
// MARGINS
// ------------------------------------------------------------------

$i: 10;
$step: 10;
$max: 200;

@while $i < $max + $step {
	.mt-#{$i} {
		margin-top: #{$i/2}px;
	}
	.mb-#{$i} {
		margin-bottom: #{$i/2}px;
	}
	@include breakpoint-min(md) {
		.mt-#{$i} {
			margin-top: #{$i}px;
		}
		.mb-#{$i} {
			margin-bottom: #{$i}px;
		}
	}
  	$i: $i + $step;
}

// ------------------------------------------------------------------
// SECTION PADDINGS
// ------------------------------------------------------------------

.pf {
	padding: ($padding-section / 2) 0;
	@include breakpoint-min(sm) {
		padding: $padding-section 0;
	}
}
.pt {
	padding: ($padding-section / 2) 0 0;
	@include breakpoint-min(sm) {
		padding: $padding-section 0 0;
	}
}
.pb {
	padding: 0 0 ($padding-section / 2);
	@include breakpoint-min(sm) {
		padding: 0 0 $padding-section;
	}
}
.ph {
	padding: ($padding-section / 2) 0;
}

// ------------------------------------------------------------------
// FLOATING ITEMS
// ------------------------------------------------------------------

.float-left {
	float: left;
}
.float-right {
	float: right;
}

// ------------------------------------------------------------------
// ALIGNING TEXT
// ------------------------------------------------------------------

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}