// ------------------------------------------------------------------
// TRANSITION
// ------------------------------------------------------------------

@mixin transition($property) {
	-webkit-transition: all $property ease-in-out;
	-moz-transition: all $property ease-in-out;
  -ms-transition: all $property ease-in-out;
  -o-transition: all $property ease-in-out;
	transition: all $property ease-in-out;
}

// ------------------------------------------------------------------
// OPACITY
// ------------------------------------------------------------------

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// ------------------------------------------------------------------
// FLEXBOX
// ------------------------------------------------------------------

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// ------------------------------------------------------------------
// BREAKPOINTS
// ------------------------------------------------------------------

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: $breakpoint-extra-small) { @content; }
  }
 
  @else if $class == sm {
    @media (max-width: $breakpoint-small) { @content; }
  }
 
  @else if $class == md {
    @media (max-width: $breakpoint-medium) { @content; }
  }
 
  @else if $class == lg {
    @media (max-width: $breakpoint-large) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}