// ------------------------------------------------------------------
// FRAMEWORK
// ------------------------------------------------------------------

$padding-section: 120px;

// ------------------------------------------------------------------
// WRAPPERS
// ------------------------------------------------------------------

$wrapper-base: 1500px;
$wrapper-small: 600px;
$wrapper-medium: 900px;
$wrapper-large: 1200px;

// ------------------------------------------------------------------
// GRID
// ------------------------------------------------------------------

$grid-cols-count: 12;
$grid-cols-gutter: 20px;
$grid-cols-gutter-small: 30px;

// ------------------------------------------------------------------
// COLORS
// ------------------------------------------------------------------

$color-primary: #242d35;
$color-secondary: #f8bd01;
$color-spot: #d5d5d5;
$color-white: #fff;
$color-grey: #f5f5f5;

// ------------------------------------------------------------------
// TYPOGRAPHY
// ------------------------------------------------------------------

$font-size: 16px;
$line-height: 24px;
$font-family: 'Arial', sans-serif;

// ------------------------------------------------------------------
// BREAKPOINTS
// ------------------------------------------------------------------

$breakpoint-large: 1200px;
$breakpoint-medium: 960px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 550px;