// ------------------------------------------------------------------
// BREAKPOINTS
// ------------------------------------------------------------------

$breakpoint-xs: 		0;
$breakpoint-sm: 		576px;
$breakpoint-md: 		767px;
$breakpoint-lg: 		992px;
$breakpoint-xl: 		1200px;

// ------------------------------------------------------------------
// CONTAINER BREAKPOINTS
// ------------------------------------------------------------------

$container-sm:			540px;
$container-md:			720px;
$container-lg:			960px;
$container-xl: 			1140px;

// ------------------------------------------------------------------
// FRAMEWORK
// ------------------------------------------------------------------

$padding-section: 		120px;

// ------------------------------------------------------------------
// COLORS
// ------------------------------------------------------------------

$color-primary: 		#242d35;
$color-secondary: 		#f8bd01;
$color-spot: 			#d5d5d5;
$color-white: 			#fff;
$color-grey: 			#f5f5f5;

$color-link:			$color-primary;

// ------------------------------------------------------------------
// TYPOGRAPHY
// ------------------------------------------------------------------

$font-family: 			'Arial', sans-serif;

$font-size-base: 		16px;
$font-size-h1: 			24px;
$font-size-h2: 			20px;
$font-size-h3: 			18px;
$font-size-h4: 			17px;
$font-size-h5: 			16px;
$font-size-h6: 			15px;

$font-size-h1--small:	24px;
$font-size-h2--small:	20px;
$font-size-h3--small:	18px;

$font-size-p:			16px;
$font-size-blockquote:	20px;

// Font line heights
$font-line-height: 		1.5;
$heading-line-height:	1.2;

// Font weights
$font-weight-light:		300;
$font-weight-regular:	400;
$font-weight-bold: 		700;