// ------------------------------------------------------------------
// BREAKPOINTS
// ------------------------------------------------------------------

$breakpoint-xs: 		0;
$breakpoint-sm: 		576px;
$breakpoint-md: 		767px;
$breakpoint-lg: 		992px;
$breakpoint-xl: 		1400px;

// ------------------------------------------------------------------
// CONTAINER BREAKPOINTS
// ------------------------------------------------------------------

$container-sm:			540px;
$container-md:			720px;
$container-lg:			960px;
$container-xl: 			1340px;

// ------------------------------------------------------------------
// FRAMEWORK
// ------------------------------------------------------------------

$padding-section: 		120px;

// ------------------------------------------------------------------
// COLORS
// ------------------------------------------------------------------

$color-primary: 		#242d35;
$color-secondary: 		#f8bd01;
$color-spot: 			#d5d5d5;
$color-white: 			#fff;
$color-grey: 			#f5f5f5;

$color-link:			$color-primary;

// ------------------------------------------------------------------
// TYPOGRAPHY
// ------------------------------------------------------------------

$font-family: 			'Arial', sans-serif;

$font-size-base: 		16px; // Will be converted to REM with mixin
$font-size-h1: 			$font-size-base * 2.5 !default;
$font-size-h2: 			$font-size-base * 2 !default;
$font-size-h3: 			$font-size-base * 1.75 !default;
$font-size-h4: 			$font-size-base * 1.5 !default;
$font-size-h5: 			$font-size-base * 1.25 !default;
$font-size-h6: 			$font-size-base !default;

$font-line-height: 		1.5rem;
$heading-line-height:	1.5rem;

$font-weight-light:		300;
$font-weight-regular:	400;
$font-weight-bold:		700;