// ------------------------------------------------------------------
// CLEARFIX
// ------------------------------------------------------------------

.cf {
	@include clearfix;
}
.clear {
	clear: both;
}

// ------------------------------------------------------------------
// GENERAL
// ------------------------------------------------------------------

body {
	font-family: $font-family;
	font-size: rem($font-size-base);
	font-weight: $font-weight-regular;
}
img {
	max-width: 100%;
	height: auto;
}

// ------------------------------------------------------------------
// FLEX COLUMNS
// ------------------------------------------------------------------

.flex {
	@include flexbox;

	&.center {
		align-items: center;
	}
	&.stretch {
		align-items: stretch;
	}
}