// ------------------------------------------------------------------
// CLEARFIX
// ------------------------------------------------------------------

.cf {
	@include clearfix;
}
.clear {
	clear: both;
}

// ------------------------------------------------------------------
// GENERAL
// ------------------------------------------------------------------

body {
	font-family: $font-family;
	font-size: rem($font-size-base);
	font-weight: $font-weight-regular;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.container--sm {
	max-width: $container-sm;
}

.container--md {
	max-width: $container-md;
}

.container--lg {
	max-width: $container-lg;
}