// ------------------------------------------------------------------
// BLOCKS
// ------------------------------------------------------------------

.block-left {
	float: left;
	@include breakpoint(sm) {
		float: none;
		margin-bottom: 2em;
	}
}
.block-right {
	float: right;
	@include breakpoint(sm) {
		float: none;
	}
}
.block-left {
	padding-right: px-to-pc(25px);
	@include breakpoint(sm) {
		padding-right: 0;
	}
}
.block-right {
	padding-left: px-to-pc(25px);
	@include breakpoint(sm) {
		padding-left: 0;
	}
}
@for $i from 1 through 9 {
	.block-left.left-#{$i * 10} {
		width: $i * 10%;
		@include breakpoint(sm) {
			width: 100%;
		}
	}
}
@for $i from 1 through 9 {
	.block-right.right-#{$i * 10} {
		width: $i * 10%;
		@include breakpoint(sm) {
			width: 100%;
		}
	}
}