// ------------------------------------------------------------------
// COLORS
// ------------------------------------------------------------------

.primary {
	background: $color-primary;
}
.secondary {
	background: $color-secondary;
}
.white {
	background: $color-white;
}
.grey {
	background: $color-grey;
}