// ------------------------------------------------------------------
// CLEARFIX
// ------------------------------------------------------------------

.cf {
	@include clearfix;
}
.clear {
	clear: both;
}

// ------------------------------------------------------------------
// GENERAL
// ------------------------------------------------------------------

body {
	font-family: $font-family;
	font-size: $font-size;
	background: #eaeaea;
}
img {
	max-width: 100%;
	height: auto;
}

// ------------------------------------------------------------------
// FLOATING ITEMS
// ------------------------------------------------------------------

.float-left {
	float: left;
}
.float-right {
	float: right;
}

// ------------------------------------------------------------------
// FLEX COLUMNS
// ------------------------------------------------------------------

.flex {
	@include flexbox;

	&.center {
		align-items: center;
	}
	&.stretch {
		align-items: stretch;
	}
}