// ------------------------------------------------------------------
// HEADINGS
// ------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	margin-bottom: px-to-em($font-size);
}
h1 {
	font-size: px-to-em(35px);
}
h2 {
	font-size: px-to-em(25px);
}
h3 {
	font-size: px-to-em(22px);
}
h4 {
	font-size: px-to-em(18px);
}
h5 {
	font-size: px-to-em(16px);
}
h6 {
	font-size: px-to-em(16px);
}

// ------------------------------------------------------------------
// PARAGRAPHS
// ------------------------------------------------------------------

p {
	@include font-size($font-size);
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}

// ------------------------------------------------------------------
// LINKS
// ------------------------------------------------------------------

a {
	color: $color-primary;
	@include transition(0.2s);
	&:hover {
		color: darken($color-primary, 15%);
	}
}