// ------------------------------------------------------------------
// WRAPPERS
// ------------------------------------------------------------------

.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: $wrapper-base;
	@include breakpoint(lg) {
		padding: 0 20px;
	}
	
	&.small {
		max-width: $wrapper-small;
	}
	&.medium {
		max-width: $wrapper-medium;
	}
	&.large {
		max-width: $wrapper-large;
	}
	&.cols {
		max-width: $wrapper-base + $grid-cols-gutter;
	}
	&.cols-small {
		max-width: $wrapper-small + $grid-cols-gutter;
	}
	&.cols-medium {
		max-width: $wrapper-medium + ($grid-cols-gutter - 5px);
	}
	&.cols-large {
		max-width: $wrapper-large + $grid-cols-gutter;
	}
}